@import url(typography.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
    --red: firebrick;
    --blue: deepskyblue;
    --orange: orangered;
    --yellow: gold;
    --black: #333;
}

html {
    font-size: var(--font-size);
}

article > ul li:nth-child(n + 2) {
    margin-top: 0.5rem;
}

main article {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5rem;
    row-gap: 1rem;
}

article > p,
article > ul,
article > img,
article > h3,
article > h4,
article > h5,
article > h6 {
    grid-column: -1;
    max-width: 75ch
}

article > h1,
article > h2,
article > code,
article aside {
    text-align: right;
    grid-column: 1;
    max-width: 480px
}

@media only screen and (max-device-width: 960px) {
    article {
        grid-template-columns: 1fr;
    }

    article > p,
    article > ul,
    article > img,
    article > h3,
    article > h4,
    article > h5,
    article > h1,
    article > h2,
    article > aside,
    article > h6 {
        grid-column: 1;
        text-align: left;
    }
}