/* Recursive */
/* Refer: https://www.recursive.design/ */
:root {
    --mono: "MONO" 0;
    --casl: "CASL" 0;
    --wght: "wght" 400;
    --slnt: "slnt" 0;
    --CRSV: "CRSV" 0.5;
}

@font-face {
    font-family: 'Recursive';
    src: url('/fonts/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2');
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
}

body {
    font-family: 'Recursive', sans-serif;
}